@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');
body{
    background-image: url('../pics/backgrounds/bg.png');
    background-size: cover;
    background-attachment: fixed;
    padding-top:80px;
}

/*Barre de navigation */
.contain{
    position:fixed;
    top:0;
    right:0;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgb(152, 109, 65);
    height:70px;
    padding:0 10px;
    box-sizing:border-box;
    border-radius:0;
    z-index:1000;
}
.panier{
    display:flex;
    align-items:center;
    position:relative;
    top:10px;
}
.cart-icon{
    position:relative;
}
#cartCount{
    position:absolute;
    top:8px;
    right:5px;
    background:rgb(245, 230, 211);
    color:black;
    padding:3px 7px;
    border-radius:50%;
    font-size:12px;
}
.menu-btn{
    font-size:35px;
    cursor:pointer;
    color:rgb(245, 230, 211) ;
}
.menu{
    display:none;
    flex-direction:column;
    position:absolute;
    top:70px;
    right:78%;
    width:300px;
    text-align: center;
    background:#fde9db;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 20px rgba(0,0,0,0.2);
    z-index: 1000;
}
.menu a{
    padding:15px;
    text-decoration:none;
    color:rgb(115, 77, 39);
    font-weight:bold;
    transition:0.3s;
}
.menu a:hover{
    background:rgb(202, 169, 110);
    color:#fff;
}
.show{
    display:flex;
}
.recherche{
    display:flex;
    align-items:center;
    gap:10px;
    flex:1;
    justify-content:center;
}
#recherche{
    width:400px;
    height:40px;
    border:2px solid rgb(202, 169, 110);
    padding:0 15px;
    border-radius:30px;
    margin:0; 
}
#recherche:focus{
    outline:none;
    border-color:white;
    box-shadow:0 0 25px rgb(202, 169, 110);
}
.recherche button{
    height:40px;
    width:50px;
    background:white;
    border:2px solid rgb(202, 169, 110);
    border-radius:20px;
    cursor:pointer;
}
.recherche button:hover{
    background-color:#fde9db;
    color:white;
    border-color:rgb(202, 169, 110);
    transition: 0.3s;
}

.categorie{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20px;
}
.categorie >button{
    background-color: rgb(255,255,255,0.5);
    border-radius: 30px;
    border: 2px solid rgb(115, 77, 39);
    width:130px;
    cursor:pointer;
    height:60px;
    font-weight: bold;
}
.categorie >button:hover{
    background-color:#fde9db;
    border-color:rgb(115, 77, 39);
    transition: 0.3s;
    box-shadow:0px 0px 5px rgb(152, 109, 65);
}

h1{
    text-align:left;
    color:rgb(115, 77, 39);
    font-family:"Instrument Serif", sans-serif;
    font-size:40px;
    text-decoration:underline;
    background-color:rgba(255,255,255,0.5);
    border-left:5px solid rgb(115,77,39);

    width:fit-content;
    margin:20px 0 20px 20px;
    padding:10px 20px;
}

.books{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.book {
    width: 220px;
    text-align: center;
    background: #fff;             
    border-radius: 12px;           
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
    transition: transform 0.3s, box-shadow 0.3s;
}
.book img {
    border: 2px solid black;
}
figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(115, 77, 39);
    margin-top: 5px;
}
.book .prix {
    display:block;
    text-align: center;
    color:rgb(202, 169, 110);
    font-weight: bold;
    font-size: 12px;
    margin-top: 5px;
}
.book button {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 8px 12px;
    background-color: rgb(115, 77, 39);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.book:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    background-color:rgb(202, 169, 110,0.4);
}
.book:hover figcaption{
    color: white;
}

@media screen and (max-width: 768px) {
    .books {
        justify-content: space-between;
        gap: 10px;
    }

    .book {
        flex: 0 0 48%; /* 2 par ligne */
    }

    #recherche {
        width: 200px;
    }
    .contain{
        height:55px;
        padding:5px 8px;
        gap:5px;
    }
    .menu-btn{
        font-size:26px;
        flex-shrink:0;
    }
    .menu{
        right:auto;
        left:9px;
        top:50px;
        width:220px;
    }
    .recherche{
        flex:1;
        min-width:0; 
    }
    #recherche{
        width:100%;
        max-width:150px;
        height:30px;
        font-size:13px;
    }
    .recherche button{
        height:30px;
        width:35px;
        font-size:12px;
    }
    .panier{
        flex-shrink:0;
    }
    #img-panier{
        width:40px;
        height:40px;
    }
    #cartCount{
        font-size:10px;
        padding:2px 5px;
        /*display:relative;*/
        top:-9px;
        right:0px;
        width:3px;
        height:fit-content;
    }
    section h1{
        width:80%;
}
}
